<div
  class="au-grid html not-front not-logged-in one-sidebar sidebar-second page-node page-node- page-node-5006 node-type-page section-about-us"
>
  <div class="au-main-nav__overlay"></div>
  <div class="page au-body">
    <!--noindex-->
    <div class="au-main-nav__above-overlay">
      <div class="region region-header-top">
        <div
          class="block block-bean last even"
          id="block-bean-caretaker-convention-message"
        >
          <div
            class="entity entity-bean bean-basic-content caretaker-convention-message clearfix"
            about="/block/caretaker-convention-message"
            typeof=""
          >
            <div class="bean-block-content">
              <div class="health-field health-field--label-hidden">
                <div class="health-field__item">
                  <div
                    class="health-release-status au-body au-body--dark au-body--dark-tertiary au-main-nav__above-overlay"
                  >
                    <div class="container">
                      <div class="row">
                        <div class="col-xs-12">
                          <p>&nbsp;</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <header
      class="au-header au-header--light au-main-nav__above-overlay pillars-container clearfix"
      role="banner"
    >
      <div class="container">
        <div id="pillars"></div>
        <div class="row">
          <div class="col-sm-5">
            <a
              href="javascript:void(0)"
              title="Home"
              rel="home"
              class="au-header__logo"
            >
              <img
                src="/assets/doh/sadoh.png"
                alt="South Africa Government Department of Health"
                class="au-header__logo-image au-responsive-media-img"
                width="600"
                height="146"
              />
            </a>
          </div>
          <div class="col-sm-7">
            <div class="region region-header">
              <div
                class="clearfix block block-menu first odd health-sub-nav text--align-right"
                id="block-menu-menu-sub-menu"
              >
                <ul class="au-link-list au-link-list--inline">
                  <li class="first leaf active-trail">
                    <a href="javascript:void(0)" title="" class="active-trail"
                      >About us</a
                    >
                  </li>
                  <li class="leaf">
                    <a href="javascript:void(0)" title="">Ministers</a>
                  </li>
                  <li class="leaf">
                    <a href="javascript:void(0)" title="">News</a>
                  </li>
                  <li class="leaf">
                    <a href="javascript:void(0)" title="">Contact us</a>
                  </li>
                  <li class="border-left-2 pl-2 leaf">
                    <a href="javascript:void(0)" (click)="signOut()" title=""
                      >Sign Out</a
                    >
                  </li>
                </ul>
              </div>
              <div
                class="block block-funnelback last even health-search health-search--global"
                id="block-funnelback-search-form"
              >
                <form
                  class="au-form"
                  action="/about-us/the-australian-health-system"
                  method="post"
                  id="funnelback-search-block-form"
                  accept-charset="UTF-8"
                >
                  <div>
                    <div class="health-search__form__input-wrapper">
                      <div
                        class="au-form__item au-form__item-type--textfield au-form__item-funnelback-search-field"
                      >
                        <label
                          class="element-invisible"
                          for="edit-funnelback-search-field"
                          >Search
                        </label>
                        <input
                          title="Enter the terms you wish to search for."
                          placeholder="Search this website"
                          class="health-search__form__input au-text-input au-text-input au-text-input--block form-text w-23rem"
                          size="30"
                          type="text"
                          id="edit-funnelback-search-field"
                          name="funnelback_search_field"
                          value=""
                          maxlength="128"
                        />
                      </div>
                      <div
                        class="health-loading health-loading--search health-loading--small"
                      ></div>
                    </div>
                    <input
                      class="health-search__form__submit au-btn au-btn standard-gap form-submit"
                      type="submit"
                      id="edit-funnelback-search-submit"
                      name="op"
                      value="Search"
                    /><input
                      type="hidden"
                      name="form_build_id"
                      value="form-eUN7nyRqUufyeLkp_kJacdVGGrLQImvKvP4yTfNbPFY"
                    />
                    <input
                      type="hidden"
                      name="form_id"
                      value="funnelback_search_block_form"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <nav
      class="au-main-nav au-main-nav--light pillars-container"
      aria-label="main"
    >
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div id="main-nav-default" class="au-main-nav__content">
              <button
                aria-controls="main-nav-default"
                class="au-main-nav__toggle au-main-nav__toggle--open"
              >
                <span class="svg-inline--fa fa-fw"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 448 512"
                  >
                    <path
                      d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z"
                    /></svg></span
                >Menu
              </button>
              <button class="au-main-nav__toggle">
                <a class="main-menu-link--mobile" href="javascript:void(0)">
                  <span class="svg-inline--fa fa-fw"
                    ><svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 496 512"
                    >
                      <g
                        id="Page-1"
                        stroke="none"
                        stroke-width="1"
                        fill="#055da0"
                        fill-rule="evenodd"
                      >
                        <path
                          d="M336.5 160C322 70.7 287.8 8 248 8s-74 62.7-88.5 152h177zM152 256c0 22.2 1.2 43.5 3.3 64h185.3c2.1-20.5 3.3-41.8 3.3-64s-1.2-43.5-3.3-64H155.3c-2.1 20.5-3.3 41.8-3.3 64zm324.7-96c-28.6-67.9-86.5-120.4-158-141.6 24.4 33.8 41.2 84.7 50 141.6h108zM177.2 18.4C105.8 39.6 47.8 92.1 19.3 160h108c8.7-56.9 25.5-107.8 49.9-141.6zM487.4 192H372.7c2.1 21 3.3 42.5 3.3 64s-1.2 43-3.3 64h114.6c5.5-20.5 8.6-41.8 8.6-64s-3.1-43.5-8.5-64zM120 256c0-21.5 1.2-43 3.3-64H8.6C3.2 212.5 0 233.8 0 256s3.2 43.5 8.6 64h114.6c-2-21-3.2-42.5-3.2-64zm39.5 96c14.5 89.3 48.7 152 88.5 152s74-62.7 88.5-152h-177zm159.3 141.6c71.4-21.2 129.4-73.7 158-141.6h-108c-8.8 56.9-25.6 107.8-50 141.6zM19.3 352c28.6 67.9 86.5 120.4 158 141.6-24.4-33.8-41.2-84.7-50-141.6h-108z"
                        />
                      </g></svg></span
                  >Translations
                </a>
              </button>
              <button
                class="au-main-nav__toggle au-main-nav__toggle--search au-main-nav__toggle--open"
              >
                <span
                  class="svg-inline--fa fa-fw au-main-nav__toggle--search__closed"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                  >
                    <path
                      d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                    /></svg
                ></span>
                <span
                  class="svg-inline--fa fa-fw au-main-nav__toggle--search__open"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 352 512"
                  >
                    <path
                      d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
                    /></svg></span
                >Search
              </button>
              <div class="au-main-nav__menu">
                <div class="au-main-nav__menu-inner">
                  <div class="au-main-nav__focus-trap-top"></div>
                  <button
                    aria-controls="main-nav-default"
                    class="au-main-nav__toggle au-main-nav__toggle--close"
                  >
                    <span class="svg-inline--fa fa-fw"
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 352 512"
                      >
                        <path
                          d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"
                        /></svg
                    ></span>
                    Close
                  </button>
                  <div class="region region-navigation">
                    <div
                      class="block block-menu-block first last odd"
                      id="block-menu-block-6"
                    >
                      <ul class="au-link-list">
                        <li
                          class="first leaf has-children active-trail menu-mlid-636"
                        >
                          <a href="javascript:void(0)" class="active-trail"
                            >Home</a
                          >
                        </li>
                        <li class="leaf has-children menu-mlid-186596">
                          <a href="javascript:void(0)" title=""
                            >Health topics</a
                          >
                        </li>
                        <li class="leaf has-children menu-mlid-7786">
                          <a href="javascript:void(0)" title=""
                            >Initiatives and programs</a
                          >
                        </li>
                        <li class="leaf menu-mlid-1049">
                          <a href="javascript:void(0)">Resources</a>
                        </li>
                        <li class="last leaf has-children menu-mlid-502799">
                          <a href="javascript:void(0)" title="">Translations</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="au-main-nav__focus-trap-bottom"></div>
                </div>
              </div>
              <div
                class="au-main-nav__overlay"
                aria-controls="main-nav-default"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <!--endnoindex-->

    <div class="page-content" id="page-content">
      <div class="health-sub-header health-sub-header--neutral">
        <div class="container">
          <div class="row">
            <div class="col-sm-8">
              <nav
                class="au-breadcrumbs au-breadcrumbs--mobile-hidden rs_skip"
                aria-label="Breadcrumb"
              >
                <ol class="au-link-list au-link-list--inline">
                  <li><a href="javascript:void(0)">Home</a></li>
                  <li><a href="javascript:void(0)">Portal</a></li>
                </ol>
              </nav>
              <h1>Personal Health Portal</h1>
              <!-- <p class="au-introduction au-introduction--dark"></p> -->
            </div>
            <div class="col-sm-4">
              <!--noindex-->
            </div>
          </div>
        </div>
      </div>

      <div class="container not-full-width">
        <div class="row">
          <main class="col-sm-8 main-content" id="content" role="main">
            <p-accordion>
              <p-accordionTab header="Personal Details" [selected]="true">
                <ul class="list-none p-0 m-0">
                  <li
                    class="flex align-items-center pt-1 pb-3 px-2 surface-border flex-wrap"
                  >
                    <div class="text-500 w-6 md:w-2 font-medium">First Name</div>
                    <div
                      class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                    >
                      Elliot
                    </div>
                  </li>
                  <li
                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                  >
                    <div class="text-500 w-6 md:w-2 font-medium">Last Name</div>
                    <div
                      class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                    >
                      Smith
                    </div>
                  </li>
                  <li
                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                  >
                    <div class="text-500 w-6 md:w-2 font-medium">
                      Date of Birth
                    </div>
                    <div
                      class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                    >
                      17 September 1994
                    </div>
                  </li>
                  <li
                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                  >
                    <div class="text-500 w-6 md:w-2 font-medium">ID Number</div>
                    <div
                      class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                    >
                      9409175800089
                    </div>
                  </li>
                  <li
                    class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap"
                  >
                    <div class="text-500 w-6 md:w-2 font-medium">
                      Nationality
                    </div>
                    <div
                      class="text-900 w-full md:w-8 md:flex-order-0 flex-order-1"
                    >
                      <p-chip label="South African" class="mr-2"></p-chip>
                    </div>
                  </li>
                </ul>
              </p-accordionTab>
              <p-accordionTab>
                <ng-template pTemplate="header">
                  <span class="pr-2">COVID-19 Vaccination Status</span>
                  <p-tag [style]="{ backgroundColor: '#005EA0' }"><i class="pi pi-info-circle pr-2"></i>New update</p-tag>
                </ng-template>
                <ng-template pTemplate="content">
                  <p-timeline
                    [value]="events"
                    align="alternate"
                    styleClass="customized-timeline"
                  >
                    <ng-template pTemplate="marker" let-event>
                      <span
                        class="custom-marker shadow-2"
                        [style.backgroundColor]="'#005EA0'"
                      >
                        <i [ngClass]="'pi pi-' + event.icon"></i>
                      </span>
                    </ng-template>
                    <ng-template pTemplate="content" let-event>
                      <p-card [header]="event.status" [subheader]="event.date">
                        <p class="mb-2">{{ event.content }}</p>
                        <ng-container *ngIf="!event.credential">
                          <button
                            pButton
                            label="Read more"
                            class="p-button-text"
                            [style]="{ color: '#005EA0' }"
                          ></button>
                        </ng-container>
                        <ng-container *ngIf="event.credential">
                          <p-skeleton size="12rem" [style]="{ backgroundColor: 'rgb(0, 94, 160, .4)' }"></p-skeleton>
                          <button
                            pButton
                            label="Add to wallet"
                            class="mt-3"
                            [style]="{ backgroundColor: '#005EA0' }"
                          ></button>
                        </ng-container>
                      </p-card>
                    </ng-template>
                  </p-timeline>
                </ng-template>
              </p-accordionTab>
              <p-accordionTab header="Alerts">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p-accordionTab>
              <p-accordionTab header="Test Results">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
                quae ab illo inventore veritatis et quasi architecto beatae
                vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
                voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Consectetur, adipisci velit, sed quia non numquam eius
                modi.
              </p-accordionTab>
            </p-accordion>
          </main>

          <!--noindex-->
          <aside
            class="sidebar sidebar-right rs_skip col-sm-4 au-side-nav--right"
            role="navigation"
          >
            <div class="region region-sidebar-second">
              <aside class="au-side-nav" aria-label="side navigation">
                <h2 class="au-display-lg au-side-nav__header">
                  In this section
                </h2>
                <div id="nav-default" class="au-side-nav__content">
                  <h3 class="au-sidenav__title">
                    <a href="javascript:void(0)" class="active-trail"
                      >Health Portal</a
                    >
                  </h3>
                  <ul class="au-link-list">
                    <li class="first leaf active-trail active menu-mlid-357131">
                      <a href="javascript:void(0)" class="active-trail active"
                        >Personal overview</a
                      >
                    </li>
                    <li class="collapsed menu-mlid-2091">
                      <a href="javascript:void(0)"
                        >Find the nearest healthcare facility</a
                      >
                    </li>
                    <li class="collapsed menu-mlid-2091">
                      <a href="javascript:void(0)"
                        >Health insurance providers</a
                      >
                    </li>
                    <li class="collapsed menu-mlid-1936">
                      <a href="javascript:void(0)">COVID-19 testing sites</a>
                    </li>
                    <li class="last collapsed menu-mlid-4636">
                      <a href="javascript:void(0)"
                        >Sponsored programmes in your area</a
                      >
                    </li>
                  </ul>
                </div>
              </aside>
            </div>
          </aside>
          <!--endnoindex-->
        </div>
      </div>
    </div>
  </div>

  <!--noindex-->
  <footer
    class="au-footer au-footer--dark au-body au-body--dark"
    role="contentinfo"
  >
    <div class="container">
      <nav class="au-footer__navigation row" aria-label="footer">
        <div
          class="block block-menu first odd col-sm-6 col-md-3 au-footer__navigation-section"
          id="block-menu-menu-footer"
        >
          <h3 class="block__title">About Health</h3>

          <ul class="au-link-list">
            <li class="first expanded active-trail">
              <a href="javascript:void(0)" title="About us" class="active-trail"
                >About us</a
              >
              <ul class="au-link-list">
                <li class="first last leaf">
                  <a href="javascript:void(0)">100 years of health</a>
                </li>
              </ul>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="">Ministers</a>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="">Careers</a>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="">Corporate reporting</a>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="Freedom of information"
                >Freedom of information</a
              >
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="">Portfolio agencies</a>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="">Contact us</a>
            </li>
            <li class="last leaf">
              <a href="javascript:void(0)" title="">Directory</a>
            </li>
          </ul>
        </div>
        <div
          class="block block-menu-block even col-sm-6 col-md-3 au-footer__navigation-section"
          id="block-menu-block-5"
        >
          <h3 class="block__title">Using our websites</h3>

          <ul class="au-link-list">
            <li class="first leaf has-children menu-mlid-11361">
              <a href="javascript:void(0)">About our website</a>
            </li>
            <li class="leaf menu-mlid-13006">
              <a href="javascript:void(0)">Accessibility</a>
            </li>
            <li class="leaf menu-mlid-13046">
              <a href="javascript:void(0)">Copyright</a>
            </li>
            <li class="leaf has-children menu-mlid-13051">
              <a href="javascript:void(0)">Disclaimer</a>
            </li>
            <li class="leaf has-children menu-mlid-13056">
              <a href="javascript:void(0)">Privacy</a>
            </li>
            <li class="leaf menu-mlid-455806">
              <a href="javascript:void(0)">Social media</a>
            </li>
            <li class="leaf has-children menu-mlid-488233">
              <a href="javascript:void(0)">Subscriptions</a>
            </li>
            <li class="last leaf menu-mlid-502699">
              <a href="javascript:void(0)">Vulnerability disclosure policy</a>
            </li>
          </ul>
        </div>
        <div
          class="block block-menu last odd col-sm-6 col-md-3 au-footer__navigation-section"
          id="block-menu-menu-follow-us"
        >
          <h3 class="block__title">Follow us</h3>

          <ul class="au-link-list">
            <li class="first leaf">
              <a href="javascript:void(0)" title="">Media centre</a>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="">News</a>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="Facebook">Facebook</a>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="Linked In">LinkedIn</a>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="Twitter">Twitter</a>
            </li>
            <li class="leaf">
              <a href="javascript:void(0)" title="Youtube">Youtube</a>
            </li>
            <li class="last leaf">
              <a href="javascript:void(0)" title="">Instagram</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-6 col-md-3 au-footer__navigation-section">
          <h3>Help us improve</h3>
          <p>We are always looking for ways to improve our website.</p>
          <a
            href="javascript:void(0)"
            class="au-btn au-btn--secondary au-btn--dark standard-gap"
            >Provide feedback</a
          >
        </div>
      </nav>
      <div class="au-footer__end">
        <div class="row">
          <div class="col-xs-12">
            <p class="acknowledgement-of-country">
              The Department of Health acknowledges the traditional owners of
              country throughout South Africa, and their continuing connection
              to land, sea and community. We pay our respects to them and their
              cultures, and to elders both past and present.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="au-footer__end">
              <p>
                <small
                  >&copy; Republic of South Africa |
                  <a href="javascript:void(0)">Department of Health</a></small
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <button title="back to top" class="health-back-to-top">
    <a class="au-btn au-btn--secondary" href="javascript:void(0)">
      <span class="svg-inline--fa fa-fw"
        ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path
            d="M240.971 130.524l194.343 194.343c9.373 9.373 9.373 24.569 0 33.941l-22.667 22.667c-9.357 9.357-24.522 9.375-33.901.04L224 227.495 69.255 381.516c-9.379 9.335-24.544 9.317-33.901-.04l-22.667-22.667c-9.373-9.373-9.373-24.569 0-33.941L207.03 130.525c9.372-9.373 24.568-9.373 33.941-.001z"
          /></svg
      ></span>
      Back <span>to top</span>
    </a>
  </button>
</div>

<p-dialog
  header="Sign In"
  [visible]="false"
  [modal]="true"
  [style]="{ height: '40vh', width: '30vw' }"
>
  <p class="text-lg mt-0">Scan the QR Code below to sign in</p>
  <div class="flex justify-content-center mt-5">
    <p-skeleton
      size="12rem"
      styleClass="mr-2"
      [style]="{ backgroundColor: 'rgb(0, 94, 160, .4)' }"
    ></p-skeleton>
  </div>
</p-dialog>
